@model SystemModels.Advogado.AdvogadoModel

<link rel="stylesheet" href="~/css/Views/Dashboard/Advogado/Index.css" />

<script src="~/js/Views/Dashboard/Advogado/Index.js"></script>
<script src="~/js/Views/Situacao/dashboardGridSituacao.js"></script>
<script src="~/js/Views/AreaAtuacao/dashboardGridAreaAtuacao.js"></script>

@if (Model.Id == 0)
{
    <h2>Cadastro</h2>
}
else
{
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <h2>Editar</h2>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 div-new-advogado">
            <a class="btn btn-primary btn-novo-adv" href="javascript:void(0);"><i class="glyphicon glyphicon-plus"></i> Cadastrar novo Advogado</a>
        </div>
    </div>
}

@using (Html.BeginForm("SaveAdvogado", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", id = "FormEdtAdvogado", role = "form", onsubmit = "return false;" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Foto)

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 padding-adjust">

            <div class="imgloader"></div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.LabelFor(m => m.Nome)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.TextBoxFor(m => m.Nome, new { autocomplete = "nope", @class = "form-control", @required = "", @autofocus = "", @maxlength = "100" })
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 padding-adjust">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.LabelFor(m => m.NumOrdem)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.TextBoxFor(m => m.NumOrdem, new { autocomplete = "nope", @class = "form-control oabformat", @required = "", @maxlength = "10" })
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 padding-adjust">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.LabelFor(m => m.DateInscricaoOAB)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="input-group date" data-provide="datepicker" data-date-end-date="0d">
                    <input type="text" class="form-control dateformat" autocomplete="nope" id="DateInscricaoOAB" name="DateInscricaoOAB" value="@(Model.Id == 0 ? "" : Model.DateInscricaoOAB.ToString("dd/MM/yyyy"))" required />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 padding-adjust">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.LabelFor(m => m.DateAtualizacao)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="input-group date" data-provide="datepicker" data-date-end-date="0d">
                    <input type="text" class="form-control dateformat" autocomplete="nope" id="DateAtualizacao" name="DateAtualizacao" value="@(Model.Id == 0 ? "" : Model.DateAtualizacao.ToString("dd/MM/yyyy"))" required />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 padding-adjust">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>Foto</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                @if (Model.Id == 0)
                {
                    <input type="file" id="IFoto" name="IFoto" accept="image/*" required />
                }
                else
                {
                    <a class="btn btn-primary btn-ver-foto" href="javascript:void(0);"><i class="glyphicon glyphicon-picture"></i>Ver ou Trocar</a>
                }
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 padding-adjust">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.LabelFor(m => m.IdGeoEstado)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.DropDownListFor(m => m.IdGeoEstado, new SelectList(ViewBag.Estados, "Id", "Nome"), new { autocomplete = "nope", @class = "form-control", @required = "" })
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 padding-adjust">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.LabelFor(m => m.IdGeoCidade)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                @if (Model.IdGeoCidade == 0)
                {
                    @Html.DropDownList("IdGeoCidade", new List<SelectListItem>(), new { autocomplete = "nope", @class = "form-control", @required = "", @Disabled = "" })
                    <script>GetCidades($("#IdGeoEstado").val());</script>
                }
                else
                {
                    @Html.DropDownListFor(m => m.IdGeoCidade, new SelectList(ViewBag.Cidades, "Id", "Nome"), new { autocomplete = "nope", @class = "form-control", @required = "" })
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-3 col-sm-12 padding-adjust">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.LabelFor(m => m.NomePai)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.TextBoxFor(m => m.NomePai, new { autocomplete = "nope", @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-6 col-md-3 col-sm-12 padding-adjust">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.LabelFor(m => m.NomeMae)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.TextBoxFor(m => m.NomeMae, new { autocomplete = "nope", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 padding-zero">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>Situação</label>
                <a class="add-link" href="javascript:void(0);" onclick="GridSituacaoEdt(0, true);"><i class="glyphicon glyphicon-plus"></i></a>
                <a class="add-link" href="javascript:void(0);" onclick="RefreshSituacao(@(Model.Id));"><i class="glyphicon glyphicon-refresh"></i></a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12 ckb-area ckb-situacao">
                    @{
                        var LstSituacao = (List<SystemModels.Situacao.SituacaoModel>)ViewBag.Situacao;
                        if (LstSituacao.Count == 0)
                        {
                            <span class="span-situacao-notfound">Nenhum item encontrado</span>
                        }
                        else
                        {
                            for (var i = 0; i < LstSituacao.Count; i++)
                            {
                                var it = LstSituacao[i];
                                if (it.Selected)
                                {
                                    <label><input class="input-ckb-situacao" type="checkbox" value="@it.Id" checked /><span>@it.Nome</span></label>
                                }
                                else
                                {
                                    <label><input class="input-ckb-situacao" type="checkbox" value="@it.Id" /><span>@it.Nome</span></label>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row padding-adjust-last">
        <div class="col-lg-12 col-md-12 col-sm-12 padding-zero">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label>Áreas de Atuação</label>
                <a class="add-link" href="javascript:void(0);" onclick="GridAreaAtuacaoEdt(0, true);"><i class="glyphicon glyphicon-plus"></i></a>
                <a class="add-link" href="javascript:void(0);" onclick="RefreshAreaAtuacao(@(Model.Id));"><i class="glyphicon glyphicon-refresh"></i></a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12 ckb-area ckb-areaatuacao">
                    @{
                        var LstAreaAtuacao = (List<SystemModels.AreaAtuacao.AreaAtuacaoModel>)ViewBag.AreaAtuacao;
                        if (LstAreaAtuacao.Count == 0)
                        {
                            <span class="span-areatuacao-notfound">Nenhum item encontrado</span>
                        }
                        else
                        {
                            for (var i = 0; i < LstAreaAtuacao.Count; i++)
                            {
                                var it = LstAreaAtuacao[i];

                                if (it.Selected)
                                {
                                    <label><input class="input-ckb-areaatuacao" type="checkbox" value="@it.Id" checked /><span>@it.Nome</span></label>
                                }
                                else
                                {
                                    <label><input class="input-ckb-areaatuacao" type="checkbox" value="@it.Id" /><span>@it.Nome</span></label>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></button>
            <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Index" data-toggle="tooltip" data-placement="right" title="Voltar"><i class="glyphicon glyphicon-arrow-left"></i></a>
        </div>
    </div>
}

<!---->
@if (Model.Id != 0)
{
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Endereços
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <button class="btn btn-primary new-contato" onclick="GridAdvogadoEnderecoEdt(0,@(Model.Id));"><i class="glyphicon glyphicon-plus"></i></button>
                    @Html.AjaxGrid(Url.Action("GridAdvogadoEndereco", new { idAdvogado = Model.Id }))
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Contatos
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <button class="btn btn-primary new-contato" onclick="GridAdvogadoContatoEdt(0,@(Model.Id));"><i class="glyphicon glyphicon-plus"></i></button>
                    @Html.AjaxGrid(Url.Action("GridAdvogadoContato", new { idAdvogado = Model.Id }))
                </div>
            </div>
        </div>
    </div>
}

<script>
    [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
        new MvcGrid(element);
    });
</script>