@model SystemModels.Advogado.AdvogadoContatoModel
<style>
    .modal-dialog {
        max-width: 600px !important;
    }
</style>

<script src="~/js/Views/Dashboard/Advogado/Contato/Delete.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Excluir - Contato</h4>
</div>
<div>
    @using (Html.BeginForm("SaveAdvContato", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", id = "FormDelAdvDelete", role = "form", onsubmit = "return false;" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.Hidden("Delete", true);
        @Html.HiddenFor(m => m.IdAdvogado);
        @Html.HiddenFor(m => m.IdTipoContato);
        @Html.HiddenFor(m => m.Contato);

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.LabelFor(m => m.IdTipoContato)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.DisplayFor(m => m.TipoContato)
                </div>
            </div>
            <div class="row padding-adjust-last">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.LabelFor(m => m.Contato)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.DisplayFor(m => m.Contato)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></button>
            <button type="button" class="btn btn-danger btn-left-zero" data-dismiss="modal"><i class="glyphicon glyphicon-ban-circle"></i></button>
        </div>
    }
</div>