@model SystemModels.Advogado.AdvogadoModel

<style>
    .modal-dialog {
        width: 600px !important;
    }
</style>

<script src="~/js/Views/Dashboard/Advogado/Delete.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Excluir - Advogado</h4>
</div>
<div>
    @using (Html.BeginForm("SaveAdvogado", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", id = "FormDelAdvogado", role = "form", onsubmit = "return false;" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.Hidden("Delete", true);
        @Html.HiddenFor(m => m.Nome)
        @Html.HiddenFor(m => m.IdGeoCidade)
        @Html.HiddenFor(m => m.NumOrdem)
        @Html.HiddenFor(m => m.NomePai)
        @Html.HiddenFor(m => m.NomeMae)
        @Html.HiddenFor(m => m.DateInscricaoOAB)
        @Html.HiddenFor(m => m.DateAtualizacao)

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.LabelFor(m => m.Nome)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.DisplayFor(m => m.Nome)
                </div>
            </div>
            <div class="row padding-adjust-last">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.LabelFor(m => m.NumOrdem)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @($"{ Model.EstadoSigla }/{ Model.NumOrdem }")
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></button>
            <button type="button" class="btn btn-danger btn-left-zero" data-dismiss="modal"><i class="glyphicon glyphicon-ban-circle"></i></button>
        </div>
    }
</div>